@{
    ViewBag.Title = "Nâng cấp dữ liệu mới tuyến xe khách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="tf-blog" class="blog-post">
    <div id="blog-post"> <!-- fullwidth gray background -->
            <div class="container" id=all><!-- container -->
<h2>Trang web bạn yêu cầu hiện không tồn tại vì chúng tôi đã nâng cấp sang hệ thống mới. Xin mời quay về trang chủ để xem chi tiết</h2>

                </div>
        </div></div>