@{
    ViewBag.Title = "Liên hệ trung tâm dịch vụ xe63.vn";
}
<div id="tf-blog" class="blog-post">
    <div id="blog-post"> <!-- fullwidth gray background -->
            <div class="container" id=all><!-- container --> 
<p>Chúng tôi sẵn sàng trợ giúp cho bạn thông qua trung tâm dịch vụ từ 08:00 đến 22:00 hàng ngày bằng nhiều hình thức như : điện thoại, email, facebook, zalo…</p>
<p>Chúng tôi mong muốn cung cấp cho các bạn những dịch vụ tốt nhất cho hành trình đi lại bằng xe khách của các bạn. Bất cứ khi nào bạn cần có sự trợ giúp hoặc thắc mắc, góp ý, hợp tác với <a href="http://www.xe63.vn">http://www.xe63.vn</a>. Chúng tôi rất vui mừng được hỗ trợ, hợp tác với các bạn</p>
<p>Quý nhà xe có nhu cầu đưa thông tin liên hệ / Quý khách hàng có nhu cầu góp ý và đưa thông tin nhà xe mình biết lên hệ thống <a href="http://www.xe63.vn">http://www.xe63.vn</a>. Xin vui lòng liên hệ :</p>
<p><strong>Điện thoại :</strong>  0966 346 393 /  0914 686 220</p>
<p><strong>Email        :</strong><strong> </strong> lienhe@xe63.vn</p>
                <div class="pagination" style="border-top:1px solid #808080;width:100%;text-align:center;">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- right banner -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:300px;height:250px"
                         data-ad-client="ca-pub-6575239088642506"
                         data-ad-slot="8243327678"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

                </div>

                </div>
        </div></div>
